
<div class="container">
  <h1>Enquetes</h1>
  <div class="row" style="margin-top: 0.4rem;">
      <div class="col-md-12 card">
          <h4 class="card-header">Últimas Enquetes</h4>
          <div class="container">
            <div class="row">
              <div class="col-md-4" style="margin-bottom: 0.6rem;" *ngFor="let question of data; index as i;">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{question.question_title}}</h5>
                    <div class="form-check">
                     
                      <label class="form-check-label" for="answer_a">
                        {{question.answer_a}}
                      </label>
                      </div>   
                      <div class="form-check">
                         
                          <label class="form-check-label" for="answer_b">
                            {{question.answer_b}}
                          </label>
                      </div> 
                      <div class="form-check">
                         
                          <label class="form-check-label" for="answer_c">
                            {{question.answer_c}}
                          </label>
                      </div> 
                      <div class="form-check">
                          
                          <label class="form-check-label" for="answer_d">
                            {{question.answer_d}}
                          </label>
                      </div>        
                    <a href="#" class="btn btn-primary btn-sm" 
                    style="margin: 1px" [routerLink]="['/question/answer', question.id]">Responder</a>
                    <a href="#" class="btn btn-success btn-sm" 
                    style="margin: 1px" [routerLink]="['/question/result', question.id]">Resultado</a>
                    <a href="#" class="btn btn-warning btn-sm" 
                    style="margin: 1px" [routerLink]="['/question/result', question.id]">Encerrar</a>
                    <a href="#" class="btn btn-danger btn-sm" 
                    style="margin: 1px" [routerLink]="['/question/result', question.id]">Excluir</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          
      </div>
    </div>
</div>


