<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Default radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Second default radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
    <label class="form-check-label" for="exampleRadios3">
      Disabled radio
    </label>
  </div>

  <div class="container">
    <h1>Enquetes</h1>
    <div class="row" style="margin-top: 0.4rem;">
        <div class="col-md-12 card">
            <div class="col-sm-4" style="margin: 0.6rem;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h3 class="card-title text-center">Título da Enquete</h3>
                      <button class="btn btn-outline-success" style="margin: 1rem;" routerLink="/question/answer" >Responder</button>    
                      <button class="btn btn-outline-primary"  routerLink="/question/result" >Resultado</button> 
                    </div>
                  </div>
            </div>
            
        </div>
      </div>
</div>

