
<div class="container">
    <h1>Enquetes</h1>
    <div class="row" style="margin-top: 0.4rem;">
        <div class="col-md-12 card">
            <h4 class="card-header">Últimas Enquetes</h4>
            <div class="container">
              <div class="row">
                <div class="col-md-4" style="margin-bottom: 0.6rem;" *ngFor="let question of data; index as i;">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{question.question_title}}</h5>
                      <a href="#" class="btn btn-primary" [routerLink]="['/question/answer', question.id]">Responder</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            
        </div>
      </div>
</div>
